<h1>Twister Back Stage</h1>

<a href="/admin/tweets">Tweets</a> | 
<a href="/admin/users">Users</a>

<br/>
<br/>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Tweet #</th>
      <th scope="col">Following User #</th>
      <th scope="col">Follower #</th>
      <th scope="col">Like #</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <th scope="row">{{this.name}}</th>
      <td scope="row">{{this.tweetCount}}</td>
      <td scope="row">{{this.followingCount}}</td>
      <td scope="row">{{this.followerCount}}</td>
      <td scope="row">{{this.tweetLikeCount}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
