<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4 mt-2">
      <img src="{{profile.avatar}}" class="card-img" alt="avatar" style="width: 175px;margin-bottom: 5px;">

      <div class="card-body">
        <h5 class="card-title" style="color:#2E8B57;">{{profile.name}}</h5>
        <p class="card-text" style="color:rgb(46, 113, 139);">{{profile.introduction}}</p>

        <a href="/users/{{profile.id}}/tweets">
          <h6 class="tweet" style="color: black;">Tweet {{tweetCount}}</h6>
        </a>
        <a href="/users/{{profile.id}}/followings">
          <h6 class="following" style="color: black;">Following {{FollowingCount}}</h6>
        </a>
        <a href="/users/{{profile.id}}/followers">
          <h6 class="follower" style="color: black;">Follower {{FollowerCount}}</h6>
        </a>
        <a href="/users/{{profile.id}}/likes">
          <h6 class="like" style="color: black;">Like {{LikedCount}}</h6>
        </a>
        {{#ifMatch profile.id user.id}}
        <a href="/users/{{profile.id}}/edit" class="btn btn-primary mt-2">Edit Profile</a>
        {{else}}
        {{#if isFollowed }}
        <form action="/followships/{{profile.id}}?_method=DELETE" method="POST" style="display: contents;">
          <button type="submit" class="btn btn-primary">Unfollow</button>
        </form>
        {{else}}
        <form action="/followships/{{profile.id}}" method="POST" style="display: contents;">
          <button type="submit" class="btn btn-primary">Follow</button>
        </form>
        {{/if}}
        {{/ifMatch}}
      </div>
    </div>

    <div class="col-md-8">
      <h1 class="followingTitle" style="color: #2E8B57;">Following</h1>

      <div class="row">
        {{#each profile.Followings}}
        <div class="col-6 mt-3">
          <div class="card" style="border: solid 1px gray;">
            <div class="row">
              <div class="col-5 mt-2">
                <img src="{{this.avatar}}" class="card-img ml-2" alt="avatar" style="width: 100px;margin-bottom: 25px;">
              </div>

              <div class="col-7 mt-1">
                <a href="/users/{{this.id}}/tweets">{{this.name}}</a>
                <p>{{this.introduction}}</p>
                <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                  <button type="submit" class="btn btn-primary mb-2">Unfollow</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>